getBackground(theme = 'light')
  if theme == 'light'
    background-color #ecf0f3
    @media (prefers-color-scheme: dark)
      background-color #2f3338
  else if theme == 'dark'
    background-color #2f3338
    @media (prefers-color-scheme: dark)
      background-color #ecf0f3

getColor(theme = 'dark', property, invert = false)
  white = rgb(255, 255, 255)
  black = #1a202c
  if theme == 'dark'
    if invert
      add-property(property, black)
      @media (prefers-color-scheme: dark)
        add-property(property, white)
    else
      add-property(property, white)
      @media (prefers-color-scheme: dark)
        add-property(property, black)
  else
    if invert
      add-property(property, white)
      @media (prefers-color-scheme: dark)
        add-property(property, black)
    else
      add-property(property, black)
      @media (prefers-color-scheme: dark)
        add-property(property, white)

getFont(style = 'body', theme = 'light', invert = false)
  font-family 'Google Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'
  if style == 'heading'
    line-height 1.25
    font-weight bold
  getColor(theme, color, invert)

getShadow(weight = '')
  if weight == 'xs'
    box-shadow 0 0 0 1px rgba(0, 0, 0, 0.05)
  else if weight == 'sm'
    box-shadow 0 1px 2px 0 rgba(0, 0, 0, 0.05)
  else if weight == 'md'
    box-shadow 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)
  else if weight == 'lg'
    box-shadow 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)
  else if weight == 'xl'
    box-shadow 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04)
  else if weight == '2xl'
    box-shadow 0 25px 50px -12px rgba(0, 0, 0, 0.25)
  else
    box-shadow 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)

theme = 'light'
