getBackground(theme = 'light')
  if theme == 'light'
    background-color #ecf0f3
  else if theme == 'dark'
    background-color #2f3338
    
getColor(theme = 'dark', invert = false)
  if theme == 'dark'
    if invert
      (#1a202c)
    else
      (rgba(255, 255, 255, 0.92))
  else
    if invert
      (rgba(255, 255, 255, 0.92))
    else
      (#1a202c)

getFont(style = 'body', theme = 'light')
  font-family 'Google Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'
  if style == 'heading'
    line-height 1.25
    font-weight bold
  color getColor(theme)

getShadow(weight = '')
  if weight == 'xs'
    box-shadow 0 0 0 1px rgba(0, 0, 0, 0.05)
  else if weight == 'sm'
    box-shadow 0 1px 2px 0 rgba(0, 0, 0, 0.05)
  else if weight == 'md'
    box-shadow 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)
  else if weight == 'lg'
    box-shadow 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)
  else if weight == 'xl'
    box-shadow 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04)
  else if weight == '2xl'
    box-shadow 0 25px 50px -12px rgba(0, 0, 0, 0.25)
  else
    box-shadow 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)

theme='light'
