@import './commons'

.content
  & > .flex
    display flex
    justify-content center
    padding 20px 0 0 0
    & > h1
      text-align center
      border-bottom 5px solid
      getColor(theme, border-color)
  & > .form
    padding-top 20px
    display flex
    flex-wrap wrap
    & > .half
      width calc(50% - 20px)
    & > .full
      width calc(100% - 20px)
    & > *
      padding 10px
      & > label
        font-size 14px
        margin-bottom 4px
        display block
        & > .required
          color #ff0000
      & > input, textarea
        width 100%
        height 40px
        padding 10px 15px
        box-sizing border-box
        font-size 16px
        line-height 22px
        color #1a202c
        background-color #f5f8fa
        border 1px solid #cbd6e2
        border-radius 4px
      & > textarea
        min-height 100px
  & > span
    getFont('heading', theme)
    padding 0 10px
  & > .eula
    padding 5px 10px
    margin 0
  & > .submit
    display flex
    align-items center
    padding 10px
    & > .button
      cursor pointer
      padding 10px 20px
      border-radius 8px
      transition color 0.3s cubic-bezier(0.19, 1, 0.22, 1)
      transition background 0.3s cubic-bezier(0.19, 1, 0.22, 1)
      getColor(theme, background)
      getColor(theme, color, true)
      &:hover
        background transparent
        getColor(theme, color)
        padding calc(10px - 3px) calc(20px - 3px)
        border 3px solid
        getColor(theme, border-color)
    & > .error
      font-size 14px
      padding-left 10px
      color #ff0000
