@import './commons'

.content
  & > .flex
    display flex
    justify-content center
    padding 20px 0 0 0
    & > h1
      text-align center
      border-bottom 5px solid
      getColor(theme, border-color)