@import './commons'

.content > .hero
  display flex
  justify-content space-between
  align-items center
  padding-top 30px
  @media screen and (max-width: 520px)
    flex-direction column-reverse
  & > .text
    width 30%
    padding 0 40px 0 0
    @media screen and (max-width: 950px)
      width 50%
    @media screen and (max-width: 520px)
      width 70%
    & > h2
      font-size 32px
      line-height 1.2  
    & > .action
      padding 20px 0 0 0
      & > a
        padding 15px 20px
        getFont(theme: theme)
        getShadow('md')
        font-weight 500
        font-size 14px
        text-transform uppercase
        border-radius 99px
        background getColor(theme)
        color getColor(theme, true)
  & > .image
    width 60%
    @media screen and (max-width: 950px)
      width 50%
    @media screen and (max-width: 520px)
      width 90%
    & > .boxCover
      height 200px
      overflow hidden
      border-radius 20px
      object-fit cover
      getShadow()
      @media screen and (max-width: 520px)
        margin-bottom 40px
      & > img
        width 100%
        height 100%
        object-fit cover
