@import './commons'

.content > .hero
  display flex

.content > .hero > .text
  width 50%
  padding 0 40px 0 0

.content > .hero > img
  width 50%
  height auto
  getCard(theme, 'flat')
  border-radius 20px
