@import './commons'

.content > .hero
  display flex
  justify-content space-between
  align-items center

.content > .hero > .text
  width 30%
  padding 0 40px 0 0

.content > .hero > .text > h2
  font-size 36px
  line-height 1.2

.content > .hero > .text > .action
  padding 30px 0 0 0

.content > .hero > .text > .action > a
  padding 15px 25px
  getFont(theme: theme)
  getCard(theme, 'flat', 200)
  font-weight 500
  font-size 16px
  text-transform uppercase

.content > .hero > .image
  width 60%

.content > .hero > .image > img
  width 100%
  height auto
  getCard(theme, 'flat')
  border-radius 20px