@import './commons'

html
  height 100%

body
  getFont(theme: theme)
  getBackground(theme)
  height 100%
  margin 0

h1, h2, h3, h4, h5, h6
  margin 0

a
  text-decoration none
  
nav
  border-bottom 1px solid blue

body > .flex
  display flex
  justify-content center
  padding 40px 20px

.container
  width 60%

.container > div.nav
  display flex
  align-items center
  font-size 20px

.container > div.nav > .spacer
  margin 0 auto
  
.container > div.nav > .links
  display flex

.container > div.nav > .links > .button
  padding 0 0.5rem

.container > div.nav > .links > .button > a
  color black
  font-weight 500
  font-size 16px
  padding 5px 10px
  transition all 0.2s cubic-bezier(0.23, 1, 0.32, 1)
  text-transform uppercase
  border-radius 999px
  if(theme=='light')
    color black
  else
    color white

.container > div.nav > .links > .button > a:hover
  if(theme=='light')
    background black
    color white
  else
    background white
    color black

.container > div.content
  padding 20px 0