@import './commons'

html
  height 100%

body
  getFont(theme: theme)
  getBackground(theme)
  height 100%
  margin 0

h1, h2, h3, h4, h5, h6
  margin 0

a
  color getColor(theme)
  text-decoration none
  
nav
  border-bottom 1px solid blue

body > .flex
  display flex
  justify-content center
  padding 40px 20px

.container
  width 60%
  @media screen and (max-width: 700px)
    width 80%
  @media screen and (max-width: 480px)
    width 100%

.container > .nav
  display flex
  align-items center
  font-size 20px
  & > h1
    padding 0 15px 0 0
  @media screen and (max-width: 520px)
    display block
    & > h1
      padding 0 0 15px calc(0.5rem + 10px)
  & > .spacer
    margin 0 auto
  & > .links
    display flex
    flex-wrap wrap
    & > .button
      padding 0.25rem 0.5rem
      & > a
        font-weight 500
        font-size 16px
        padding 5px 10px
        transition all 0.2s cubic-bezier(0.23, 1, 0.32, 1)
        text-transform uppercase
        border-radius 999px
        color getColor(theme)
        &:hover
          background getColor(theme)
          color getColor(theme, true)
    & > .active > a
      transition all 0.2s cubic-bezier(0.23, 1, 0.32, 1)
      color getColor(theme, true)
      background getColor(theme)
      &:hover
        background transparent
        color getColor(theme)


.container > .content
  padding 20px 0